/* Co.com */

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 80px;
}

.logo {
  display: flex;
  padding-left: 80px;
}

.co-logo {
  font-family: "Gotham Rounded Medium";
  font-size: 46px;
  line-height: 55px;
  letter-spacing: -2.65528px;
  text-decoration: none;
  color: #241e21;
}

.com-logo {
  color: #ff5a0d;
}

/* Menu */

.menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.home {
  font-family: "Gotham Rounded Medium";
  font-size: 40px;
  font-weight: 350;
  width: 140px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -2.30894px;
}

.services {
  font-family: "Gotham Rounded";
  font-weight: 325;
  font-size: 40px;
  width: 191px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -2.30894px;
  color: #241e21;
}

.pricing {
  font-family: "Gotham Rounded";
  font-weight: 325;
  font-size: 40px;
  width: 191px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -2.30894px;
  color: #241e21;
}

.works {
  font-family: "Gotham Rounded";
  font-weight: 325;
  font-size: 40px;
  width: 191px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -2.30894px;
  color: #241e21;
}

a {
  text-decoration: none;
}

.menu-link:hover{
  color: #ff5a0d;
}

.menu-link {
  color: #241e21;
}

.menu-link:visited {
  color: #ff5a0d;
}


/* Text */

.secret {
  font-family: "Gotham Rounded";
  font-weight: 325;
  font-size: 81px;
  line-height: 81px;
  letter-spacing: -4.67561px;
  padding: 160px 0px 120px 80px;
  color: #302a2c;
}

.world {
  font-family: "Gotham Rounded Medium";
  color: #ff5a0d;
}

.general {
  display: flex;
  justify-content: space-between;
}

/* Buttons */

.rectangle {
  width: 306px;
  height: 79px;
  margin: 0px 23px 0px 60px;
  background: #ff5a0d;
  border-radius: 5px;
}

.get_started {
  font-family: "Gotham Rounded";
  font-weight: 350;
  font-size: 30px;
  width: 165px;
  height: 36px;
  padding: 5px 0px 0px 60px;
  line-height: 36px;
  letter-spacing: -1.73171px;
  color: #ffffff;
}

.rectangle-copy {
  width: 306px;
  height: 79px;
  padding: 0px 0px 25px 0px;
  background: #241e21;
  border-radius: 5px;
}

.our_works {
  font-family: "Gotham Rounded";
  font-weight: 350;
  font-size: 30px;
  width: 165px;
  height: 36px;
  padding: 20px 0px 0px 80px;
  line-height: 36px;
  letter-spacing: -1.73171px;
  color: #ffffff;
}


.rectangle:hover{
  background:  #241e21;
}

.rectangle-copy:hover{
  background: #ff5a0d;
}

.buttons{
  display: flex;
}